body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(por-do-sol-alter-do-chao-capa2019-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    font-size: 6em;
    margin-bottom: 0.5em;
  }

  h1:hover{
    color: rgb(140, 118, 112);
    transition: all 0.5;
  }
  
  p {
    font-size: 3.5em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }
  
  input[type=number] {
    font-size: 1.2em;
    padding: 0.5em;
  }
  
  button {
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin-left: 0.5em;
  }
  
  #result {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
  }
  #submit{
    color: #fff;
    background-color: black;
    font-weight: bold;
  }  
  #guess{
    border: 1px solid black;
    box-shadow: saddlebrown;
  }
